@media (min-width: 300px) {
    #lastDiv{
        margin-bottom: 94px;
    }
    .socialBox{
        text-align: center;
    }
    .social{
        display: inline-flex;
        gap: 24px;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
    }
    .social img{
        height: 40px;
    }
    .connection{
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: #535C5F;
        margin-bottom: 16px;
    }
    #join{
        padding-top: 16px;
        padding-right: 16px;
        padding-left: 16px;
        padding-bottom: 16px;
        background: url(https://res.cloudinary.com/dk80ynx1w/image/upload/v1685237694/lagmex_resource/Rectangle_6564_almlry.jpg);
        border-radius: 16px;
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 50px;
        background-repeat: no-repeat;
        background-position-x: center;
        background-size: cover;
    }
    .emailDiv{
        margin-top: 98px;
    }
    .emailDiv .text{
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        color: #F5FAFC;
    }
    .myToggle{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #031E27;
        padding-right: 24px;
        padding-left: 24px;
    }
    .tToggle{
        font-weight: 400;
        font-size: 14px;
        line-height: 32px;
        color: #535C5F;
        margin-top: 16px;
        padding-right: 24px;
        padding-left: 24px;
    }
    hr{
        display: block;
        color: #E6EDEF;
        font-size: 1px;
        height: 0;
        width: 84%;
        margin-top: 24px;
        opacity: 0.2;
        margin-bottom: 24px;
    }
    .frequent{
        margin-top: 56px;
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: clamp(20px, 4vw, 32px);
        line-height: 32px;
        color: #43A4C4;
        padding-bottom: 32px;
    }
    .heroImg {
        padding-top: 168px;
        padding-bottom: 130px;
        background-image: url(https://res.cloudinary.com/dk80ynx1w/image/upload/v1685223806/Frame_1000003391_o9f4l4.svg);
        background-repeat: no-repeat;
        background-position-x: center;
        background-size: cover;
    }
    .heroImg .comingSoon {

        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-right: 22px;
        padding-left: 22px;
        gap: 8px;
        width: 134px;
        height: 36px;
        background: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        border-radius: 50px;

        font-family: 'DM Sans', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: #F5FAFC;
    }

    .heroImg .firstText {
        font-family: 'DM Sans', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        width: 93%;
        color: #F5FAFC;
        margin: 16px auto 24px;
    }

    .heroImg .secondText {
        width: 88%;
        font-family: 'DM Sans', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        text-align: center;
        color: #F5FAFC;
        margin: auto;
        margin-bottom: 16px;

    }
    #splitID_{
        color: white;

    }
    #splitID_ span {
        color: #B9BEC0;
    }
    .heroImg input {
        display: flex;
        width: 85%;
        height: 50px;
        background: rgba(0, 0, 0, 0.5);
        border: 1px solid #C7D4D8;
        backdrop-filter: blur(10px);
        border-radius: 8px;
        padding-left: 16px;
        font-family: 'DM Sans', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-align: left;
        color: #B2BABD;
        margin: auto;
        margin-bottom: 16px;

    }

    .heroImg .joinButton {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-right: 8px;
        padding-left: 8px;
        gap: 8px;
        width: 85%;
        height: 50px;
        background: #43A4C4;
        box-shadow: 0px 8px 20px rgba(67, 164, 196, 0.4);
        border-radius: 8px;
        margin: auto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        color: #F5FAFC;
    }
    .secondDiv {
        padding-top: 56px;
        padding-bottom: 171px;
        padding-left: 24px;
        padding-right: 24px;
        background-image: url(https://res.cloudinary.com/dk80ynx1w/image/upload/v1685237694/lagmex_resource/Rectangle_6564_almlry.jpg);
        background-repeat: no-repeat;
        background-position-x: center;
        background-size: cover;
        text-align: left;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
        color: #E6EDEF;
    }
    .splitter{
        display: inline-flex;
        gap: 24px;
        padding-top: 24px;
        padding-bottom: 24px;
        padding-right: 24px;
        padding-left: 24px;
        flex-direction: column;
    }
    #spliter{
        background: #0D3A49;
    }
    .splitterImg{
        height: 240px;
        background-image: url(https://res.cloudinary.com/dk80ynx1w/image/upload/v1685241059/lagmex_resource/Frame_1000003294_1_llkd7s.svg);
        background-repeat: no-repeat;
        background-position-x: center;
        background-size: cover;
        border-radius: 16px;
    }
    .splitterImg_{
        width: 56px;
        margin-bottom: 8px;
        margin-top: 64px;
    }

    #splitterImg2{
        background-image: url(https://res.cloudinary.com/dk80ynx1w/image/upload/v1685241227/lagmex_resource/Frame_1000003294_2_gcewza.svg);
    }
    #splitterImg3{
        background-image: url(https://res.cloudinary.com/dk80ynx1w/image/upload/v1685241329/lagmex_resource/Frame_1000003294_3_k72hnf.svg);
    }
    #splitterImg4{
        background-image: url(https://res.cloudinary.com/dk80ynx1w/image/upload/v1685241418/lagmex_resource/Frame_1000003294_4_aoajht.svg);
    }
    .splitterText{
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        color: #031E27;
    }
    .splitterText_{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
        color: #F5FAFC;
    }
    .splitterText_ span{
        color: #B9BEC0;
    }
    .splitterText span{
        display: block;
        margin-top: 16px;
        font-weight: 400;
        font-size: 14px;
        line-height: 32px;
        color: #535C5F;
    }
    #splitID{
        color: white;
    }
    #splitID span{
        color: white;
    }
    .videos{
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
    }
    .video{
        width: 100%;
        padding: 24px;
    }
    .video iframe{
        height: 240px;
    }
    .ptext{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
        color: #031E27;
    }
    .vidHead{
        margin-top: 56px;
        margin-bottom: 32px;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        color: #031E27;
        padding-right: 24px;
        padding-left: 24px;
    }
    .vidHead span{
        color: #43A4C4;
    }
    .thirdDiv{
        background: #0D3A49;
        margin-top: 112px;
        padding-top: 40px;
        padding-right: 24px;
        padding-left: 24px;
        padding-bottom: 40px;
    }
}
@media (min-width: 520px) {
    .heroImg .firstText {
        width: 495px;
    }
    .heroImg .secondText {
        width: 511px;
    }
    .heroImg input{
        width: 511px;
    }
    .heroImg .joinButton{
        width: 511px;
    }
    .secondDiv{
        padding-right: 124px;
    }
    .splitterImg {
        height: 309px;
    }

    .video iframe {
        height: 338px;
    }

}
@media (min-width: 760px) {
    hr{
        margin-bottom: 48px;

    }
    .emailDiv .text{
        margin-bottom: 32px;
    }
    #join{
        padding-top: 72px;
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 107px;
    }
    .myToggle{
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        padding-right: 48px;
        padding-left: 48px;
    }
    .tToggle{
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        padding-left: 48px;
        padding-right: 48px;
    }
    .thirdDiv{
        padding-top: 48px;
        padding-right: 48px;
        padding-left: 48px;
        padding-bottom: 61px;
    }
    .heroImg .comingSoon{
        width: 180px;
        height: 52px;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
    }
    .heroImg .firstText{
        width: 737px;
        font-weight: 700;
        font-size: 32px;
        line-height: 48px;
        margin-top: 24px;
    }
    .heroImg .secondText{
        width: 737px;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 24px;
    }
    .heroImg .joinGrp{
        display: inline-flex;
        gap: 16px;
        justify-content: center;
        align-items: center;
    }
    .heroImg input{
        width: 364px;
        height: 53px;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        margin-bottom: unset;
    }
    .heroImg .joinButton{
        width: 138px;
        height: 53px;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
    }
    .heroImg .joinG{
        text-align: center;
    }
    .secondDiv{
        padding-right: 118px;
        padding-left: 48px;
        font-weight: 500;
        font-size: 24px;
        line-height: 40px;
    }
    .splitter{
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-right: unset;
        padding-left: unset;
    }
    .splitterImg{
        width: 357px;
        height: 350px;
    }
    .splitterText{
        width: 357px;
        font-weight: 500;
        font-size: 24px;
        line-height: 44px;
    }
    .splitterText span{
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
    }
    #spliter{
        flex-direction: row-reverse;
    }
    .videos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .video{
        width: unset;
        flex: 0 0 50%;
        max-width: 47%;
        padding: unset;
    }
    .vidHead{
        font-size: 24px;
        margin-top: 110px;
        margin-bottom: 56px;
    }
    .splitterContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
    }
    .splitterContainer .lastSplitter{
        flex: 0 0 50%;
        max-width: 47%;
    }
     #lastSplitter{
        width: 50%;
    }
    .splitterText_{
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
    }
    #splitID_{
        font-weight: 700;
        font-size: 32px;
        line-height: 42px;
        width: unset;
    }
    #splitID_ span {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
    }
}
@media (min-width: 1024px) {
    .splitter{
        padding-left: 24px;
        padding-right: 24px;
        width: 96%;
    }
    .myToggle{
        padding-right: 295px;
        padding-left: 295px;
    }
    hr{
        width: 62%;
    }
    .emailDiv .text{
        width: 843px;
    }
    #join{
        margin-left: 96px;
        margin-right: 96px;
    }
    .tToggle{
        padding-left: 295px;
        padding-right: 295px;
    }
    .thirdDiv{
        padding-top: 80px;
        padding-right: 94px;
        padding-left: 94px;
        padding-bottom: 80px;
    }
    #splitID_{
        font-size: 48px;
        line-height: 62px;
    }
    #splitID_ span {
        display: block;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        width: 712px;
    }
    .splitterContainer .lastSplitter{
        flex: 0 0 50%;
        max-width: 31%;
    }
    .mf{
        flex: 0 0 50%;
        max-width: 31%;
    }
    #lastSplitter{
        width: 100%;
    }
    .splitterText_{
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
    }
    .heroImg .firstText{
        width: 75%;
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
    }
    .heroImg .secondText{
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
    }
    .heroImg{
        padding-bottom: 251px;
    }
    .secondDiv .fix{
        width: 668px;
    }
    .splitterImg{
        width: 533px;
        height: 533px;
    }
    .splitterImg_{
        width: 56px;
        margin-bottom: 8px;
        margin-top: 64px;
    }
    .splitterText{
        width: 647px;
        font-weight: 500;
        font-size: 32px;
        line-height: 44px;
    }
    .splitterText span{
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
    }
    .videos{
        gap: 24px;
    }
    .video{
        max-width: 31%;
        padding: 0px;
    }
    .vidHead{
        font-size: 32px;
    }
    .spec{
        max-width: 1440px;
        margin: auto;
    }
}
@media (min-width: 1440px) {
    .splitter{
        padding-left: unset;
        padding-right: unset;
        width: 100%;
    }
}